body,
html {
    margin: 0;
    padding: 0;
    background-color: white;
}

.outer {
    width: 1440px;
}

.inner {
    margin: 0 auto;
}

.desktop {
    padding: 21px 810px 17px 121px;
}

.header-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
}

.onlinecourse {
    display: flex;
    margin: 96px 46px 0 0;
}

.watches {
    display: flex;
    margin: 96px 46px 0 0;
}

.calendar {
    display: flex;
    margin: 96px 46px 0 0;
}

.courseinfo {
    display: flex;
    justify-content: space-between;
}

.firstline-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 81px;
}

.firstline-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.firstline {
    display: flex;
    justify-content: space-between;
    margin: 13px 245px 51px 122px;
}

.quote {
    background-color: #1E4681;
    border-radius: 5px;
    transform: rotate(-4deg);
    margin: 71px 541px 157px 403px;
    padding: 21px 29px 0;
}

.quote-text {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: white;
    padding: 0 0 15px;
}

.quote-author {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: white;
}

.secondline-top {
    display: flex;
    justify-content: space-between;
    margin: 156px 127px 100px 121px;
}

.secondline-topleft {
    width: 662px;
    line-height: 36px;
}

.secondline-title {
    font-weight: 700;
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 18px 0;
    line-height: 56px;
    Width: 365px;
    Height: 93px;
}

.secondline-text {
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto', serif;
}

.thirdline {
    display: flex;
    font-family: 'Roboto', serif;
    align-items: center;
    margin: 0 317px 162px 121px;
}

.thirdline-right {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 0 0 0 132px;
}

.thirdline-right title {
    font-size: 25px;
    font-weight: 700;
    width: 150px;
    margin: 0;
    line-height: 130%;
}

.thirdline-right bottom {
    font-size: 18px;
    width: 150px;
    margin: 0 95px 0 0;
    line-height: 130%;
}

.fourthline {
    margin: 0 344px 116px 121px;
}

.format {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
}

.fourthline-bottom {
    display: flex;
    justify-content: space-between;
    margin: 89px 0 0;
}

.fourth-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
}

.fourth-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.vebinars {
    margin: 0 122px 0 0;
}

.access {
    margin: 0 113px 0 0;
}