@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');


.outer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.inner {
    width: calc(100% - 240px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px 0;
}

#cover {
    margin: 20px 0 0 0;
}

.header-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
}

.courseinfo {
    display: flex;
    justify-content: start;
    padding: 90px 0 0 0;
}

.courseinfo-block {
    margin: 4px 46px 0 0;
    display: flex;
    align-items: center;
}

.firstline-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 81px;
    margin: 0 140px 5px 0;
}

.firstline-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    width: 415px;
}

.firstline {
    display: flex;
    justify-content: space-between;
}

.quote {
    background-color: #1E4681;
    border-radius: 5px;
    transform: rotate(-4deg);
    padding: 21px 29px 0;
    width: 480px;
    height: 200px;
    margin: 51px auto 0;
}

.quote-text {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: white;
    padding: 0 0 15px;
}

.quote-author {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: white;
}

#about-course {
    margin: 155px 0 0 0;
}

.secondline-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondline-topleft {
    width: 662px;
    line-height: 36px;
}

.secondline-title {
    font-weight: 700;
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 18px 0;
    line-height: 56px;
    Width: 365px;
    Height: 93px;
}

.secondline-text {
    font-size: 24px;
    line-height: 150%;
    font-family: 'Roboto', serif;
}

.thirdline {
    display: flex;
    font-family: 'Roboto', serif;
    align-items: center;
    margin: 94px 0 0 0;
}

.bottom {
    margin: 0 95px 0 0;
    max-width: 150px;
}

.thirdline-right {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: 0 0 0 132px;
}

.third-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
}

.bottom-text {
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
}

#format {
    margin: 162px 0 0 0;
}

.format {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
}

.fourthline-bottom {
    display: flex;
    justify-content: space-between;
    margin: 89px 0 0;
}

.fourth-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
}

.fourth-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.thirdline-mobile {
    display: none;
}

.vebinars {
    margin: 0 122px 0 0;
    width: 225px;
}

.access {
    margin: 0 113px 0 0;
    width: 270px;
}

.chatting {
    width: 245px;
}

.fencing {
    position: relative;
    top: 116px;
    left: 880px;
}

@media screen and (min-width: 834px) and (max-width: 1279px) {
    .inner {
        padding: 0 71px;
        width: calc(100% - 142px);
        max-width: 1279px;
    }
    #cover {
        margin: 22px 0 0 0
    }
    #about-course {
        margin: 90px 0 0 0;
    }
    .courseinfo {
        padding: 55px 0 0 0;
        justify-content: start;
    }
    .courseinfo-block {
        margin: 0 18px 2px 0;
    }
    .sinc {
        width: 64px;
        height: 38px;
    }
    .calendar {
        width: 12px;
        height: 12px;
    }
    .globe {
        width: 12px;
        height: 12px;
    }
    .hours {
        width: 12px;
        height: 12px;
    }
    .sinc {
        width: 64px;
        height: 38px;
    }
    .pointingman {
        width: 176px;
        height: 206px;
    }
    .cameraman {
        width: 182px;
        height: 182px;
    }
    .officeman {
        width: 134px;
        height: 117px;
    }
    .fencing {
        width: 158px;
        height: 92px;
    }
    .header-text {
        font-size: 12px;
    }
    .firstline {
        display: flex;
        justify-content: space-between;
    }
    .firstline-title {
        font-size: 46px;
        line-height: 47px;
        margin: 0 81px 3px 0;
        width: 360px;
    }
    .firstline-text {
        font-size: 12px;
        width: 264px;
    }
    .quote {
        border-radius: 3px;
        padding: 12px 17px 0;
        width: 280px;
        height: 115px;
    }
    .quote-text {
        font-size: 14px;
        line-height: 18px;
        padding: 0 0 5px;
    }
    .quote-author {
        font-size: 12px;
        text-align: right;
    }
    .secondline-top {
        justify-content: space-between;
    }
    .secondline-topleft {
        width: 383px;
        line-height: 21px;
        margin: 0 110px 0 0;
    }
    .secondline-title {
        font-size: 32px;
        margin: 0 0 10px 0;
        line-height: 33px;
        Width: 210px;
        Height: 54px;
    }
    .secondline-text {
        font-size: 14px;
    }
    .thirdline {
        margin: 54px 0 0 0;
    }
    .bottom {
        margin: 0 45px 0 0;
        max-width: 90px;
    }
    .thirdline-right {
        margin: 0 0 0 75px;
    }
    .third-title {
        font-size: 15px;
        font-weight: 700;
    }
    .bottom-text {
        font-size: 11px;
    }
    .thirdline-mobile {
        display: none;
    }
    #format {
        margin: 94px 0 0 0;
    }
    .format {
        font-size: 32px;
        line-height: 33px;
    }
    .fourthline-bottom {
        margin: 51px 0 0;
        display: flex;
        justify-content: start;
    }
    .fourth-title {
        font-size: 15px;
    }
    .fourth-text {
        font-size: 11px;
    }
    .vebinars {
        margin: 0 46px 0 0;
        width: 153px;
    }
    .access {
        margin: 0 50px 0 0;
        width: 172px;
    }
    .chatting {
        width: 142px;
    }
    .fencing {
        position: relative;
        top: 67px;
        left: 400px;
    }
}

@media screen and (min-width: 375px) and (max-width: 833px) {
    .inner {
        padding: 0 33px 0;
        width: 100%;
        max-width: calc(375px - 66px);
    }
    .header-text {
        font-size: 10px;
    }
    .sinc {
        width: 52px;
        height: 31px;
        margin: auto;
        display: block;
        justify-content: flex-start;
    }
    .calendar {
        width: 10px;
        height: 10px;
    }
    .globe {
        width: 10px;
        height: 10px;
    }
    .hours {
        width: 10px;
        height: 10px;
    }
    .sinc-photo {
        width: 52px;
        height: 31px;
    }
    .pointingman {
        width: 141px;
        height: 175px;
        margin: 0 0 0 170px;
    }
    .cameraman {
        width: 170px;
        height: 160px;
        margin: 16px 67px 0;
    }
    .fencing {
        width: 132px;
        height: 78px;
    }
    #cover {
        margin: 30px 0 0 0;
    }
    .courseinfo {
        display: flex;
        justify-content: flex-start;
        padding: 44px 0 0 0;
        margin: auto;
        width: 310px;
    }
    .courseinfo-block {
        margin: 0 11px 2px 0;
        display: flex;
    }
    .firstline-title {
        font-size: 37px;
        line-height: 38px;
        width: 292px;
    }
    .firstline-text {
        font-size: 10px;
        width: 212px;
    }
    .firstline {
        display: block;
        justify-content: center;
        width: 310px;
        margin: auto;
    }
    .quote {
        border-radius: 2px;
        padding: 9px 14px 0;
        width: 225px;
        height: 93px;
        margin: 40px 90px 0 15px;
        display: block;
        justify-content: center;
    }
    .quote-text {
        font-size: 11px;
        padding: 0 0 3px;
    }
    .quote-author {
        font-size: 10px;
        text-align: right;
    }
    #about-course {
        margin: 67px 0 0 0;
    }
    .secondline-top {
        display: block;
        justify-content: space-between;
        align-items: center;
        width: 310px;
        margin: auto;
    }
    .secondline-topright {
        margin: auto;
    }
    .secondline-topleft {
        width: 310px;
        line-height: 18px;
    }
    .secondline-title {
        font-size: 26px;
        line-height: 27px;
        Width: 170px;
        Height: 43px;
    }
    .secondline-text {
        font-size: 12px;
    }
    .thirdline {
        display: none;
    }
    .thirdline-mobile {
        display: block;
        margin: 45px 0 0 0;
        position: relative;
        height: 170px;
    }
    .officeman {
        width: 108px;
        height: 102px;
        position: relative;
        top: -80px;
        right: -165px;
    }
    .bottom {
        width: 30%;
        margin: 0 33px 22px 0;
    }
    .thirdline-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        text-align: left;
        align-items: flex-start;
        margin: 0 auto 16px;
        width: 310px;
    }
    .third-title {
        font-size: 12px;
    }
    .bottom-text {
        font-size: 10px;
    }
    #format {
        margin: 43px 0 0 0;
    }
    .format {
        font-size: 26px;
        line-height: 130%;
        margin: 0 0 16px 0;
    }
    .fourthline-bottom {
        margin: 16px 0 0 0;
        display: block;
    }
    .fourth-title {
        font-size: 12px;
    }
    .fourth-text {
        font-size: 10px;
    }
    .fourthline {
        width: 310px;
        margin: auto;
    }
    .vebinars {
        margin: 19px 0 0 0;
        width: 180px;
    }
    .access {
        margin: 19px 0 0 0;
        width: 170px;
    }
    .chatting {
        width: 170px;
    }
    .fencing {
        position: relative;
        top: -50px;
        left: 170px;
    }
}