@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    background-color: white;
}

.outer {
    width: 100%;
}

.inner {
    width: 100%;
    max-width: calc(1440px - 240px);
    margin: 0 auto;
    padding: 20px 120px;
}

#cover {
    width: 100%;
}

.header-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
}

.courseinfo {
    display: flex;
    justify-content: start;
    padding: 90px 0 0 0;
}

.courseinfo-block {
    margin: 0 46px 4px 0;
    display: flex;
}

.firstline-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 81px;
    margin: 0 140px 5px 0;
}

.firstline-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    margin: 0 350px 161px 0;
}

.firstline {
    display: flex;
    justify-content: space-between;
}

.quote {
    background-color: #1E4681;
    border-radius: 5px;
    transform: rotate(-4deg);
    padding: 21px 29px 0;
    width: 500px;
    height: 235px;
    margin: 51px auto 0;
}

.quote-text {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: white;
    padding: 0 0 15px;
}

.quote-author {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: white;
}

#about-course {
    padding: 155px 0 0 0;
    width: 100%;
}

.secondline-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondline-topleft {
    width: 662px;
    line-height: 36px;
}

.secondline-title {
    font-weight: 700;
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 18px 0;
    line-height: 56px;
    Width: 365px;
    Height: 93px;
}

.secondline-text {
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto', serif;
}

.thirdline {
    display: flex;
    font-family: 'Roboto', serif;
    align-items: center;
    margin: 94px 0 0 0;
}

.bottom {
    margin: 0 95px 0 0;
    max-width: 150px;
}

.thirdline-right {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: 0 0 0 132px;
}

.thirdline-right title {
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
}

.bottom-text {
    font-size: 18px;
    line-height: 130%;
}

#format {
    padding: 162px 0 116px 0;
    width: 100%;
}

.format {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
}

.fourthline-bottom {
    display: flex;
    justify-content: space-between;
    margin: 89px 0 0;
}

.fourth-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
}

.fourth-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.vebinars {
    margin: 0 122px 0 0;
}

.access {
    margin: 0 113px 0 0;
}