@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.outer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.inner {
    max-width: 1440px;
    margin: auto;
    padding: 0 71px;
    width: calc(100% - 142px);
}

.header {
    width: 100%;
    position: relative;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 140px;
}
.alexey-header-text {
    margin: 0 0 0 50px;
}

.line {
    position: absolute;
    top: 24px;
    left: 739px;
    background-color: black;
    height: 14px;
    min-width: 48.5%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 13px;
}
.content-mob {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.content-mob img {
    width: 185.92px;
    height: 152.84;
    margin-bottom: 24.16px;
}

.block {
    width: calc(33% - 37px);
    /*height: 328px;*/
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: Roboto;
    color: #000000;
    font-style: normal;
    margin: 0 37px 45px 0;
}

.block-picture {
    width: 100%;
}

.block-text-header {
    font-weight: bold;
    font-size: 30px;
    line-height: 97%;
    width: 90%;
    height: 63px;
    margin: 4px 14px 0 20px;
}

.block-text-footer {
    width: 90%;
    height: 63px;
    margin: 0 14px 23px 20px;
}

.block-text-footer li {
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    list-style-type: none;
    padding: 0px 0;
}
@media screen and (max-width: 1280px) {
    .outer {
        max-width: 834px;
        width: 100%;
    }
    .inner {
        max-width: 834px;
        padding: 0 41px;
        width: calc(100% - 82px);
    }    
    .header {
        font-size: 32px;
        margin-bottom: 81px;
    }
    .alexey-header-text {
        margin: 0 0 0 29px;
    }
    .line {
        position: absolute;
        top: 14px;
        left: 398px;
        background-color: black;
        height: 8px;
        min-width: 52.5%;
    }
    .content {
        width: calc(100%-15px);
        margin: 0 7.7px 0 7.7px;
    }
    .block {
        width: calc(33% - 21.4px);
        /*height: 190px;*/
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        margin: 0 21.4px 23.8px 0;
    }
    .block-text-header {
        font-weight: bold;
        font-size: 17px;
        line-height: 97%;
        width: 211px;
        height: 41.1px;
        margin: 2px 8px 0 11.6px;
    }
    .block-text-footer {
        width: 211px;
        height: 36.5px;
        margin: 0 8.7px 13.3px 11px;
    }
    .block-text-footer li {
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
    }  
}
@media screen and (max-width: 834px) {
    .outer {
        max-width: 375px;
    }
    .inner {
        padding: 0 33px;
        width: 100%;
        width: calc(375px - 66px);
    }
    .header {
        width: 100%;
        font-size: 26px;
        line-height: 101.38%;
        margin-bottom: 40px;
    }
    .alexey-header-text {
        margin: 0 0 0 0px;
    }    
    .line {
        position: absolute;
        top: 13px;
        left: 272px;
        height: 6.5px;
        min-width: 48.5%;
    }
    .content {
        display: none;
    }
    .content-mob {
        display: flex;
    }    
}

